<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration,WebApiThrottle" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
  </configSections>
  <appSettings>
    <add key="Port" value="8555" />
    <add key="Client" value="web,wz;feizhuapi,wz;b2b,wz;" />
    <!-- 缓存时间 min -->
    <add key="CacheTime" value="10" />
    <!-- 缓存配置 -->
    <add key="UseGZipMinSize" value="10" />
    <add key="RedisConnection" value="" />
    <add key="RedisConnectionData" value="" />
    <!-- 默认缓存命名空间配置 -->
    <add key="DefaultCacheNamespace" value="" />
    <!-- Cache.Redis连接配置 -->
    <!--<add key="Cache_Redis_Configuration" value="" />-->
    <add key="Cache_Memcached_Configuration" value="" />
    <add key="WeixinAppId" value="wxfe05310a0c29024c"/>
    <add key="WeixinAppSecret" value="4bf51eabbac3f8765e0705b0ef71ee05"/>
    <add key="WeixinToken" value="qingyixuefutoken"/>
    <add key="WeixinEncodingAESKey" value="A0wGtKJa03R8BBvxuhozglWe22W3HsvaS7PxgboFPvl"/>
    <!--微信支付-->
    <add key="Tenpay_MerchantId" value="1638474006"/>
    <add key="Tenpay_SecretV3" value="1FA5E3B9592AEE69B7202BCCAD6BE35D"/>
    <add key="Tenpay_CertificateSerialNumber" value="7B2B7BCCBBD501A451FBEC9D2A4105E66176E5C8"/>
    <add key="Tenpay_CertificatePrivateKey" value="MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDWWUEcWTzT0G3z
Rj8hRd+UmwMpMznLK/RfJIrVTVtxY6IjLbWCOR8L54EAzjkGbKzPZTld0t1potZn
9ju54x4ONihfDXEhU/K6EbI2xoh85snOSEQLBf8D4Vcm9JNUHCG8cTHXv27rkFzm
q7Ghl20SSJ6Guo64em2zFYKSzq4JpgL1jxFubc40Ub+OcyhFKD6Ym8slXQW3HXMX
BRTIqcIxduxZiy4vpvJqnOuA++P8BzXMKqYrSkJ/6c4Ejq3EZ2j1rWw2zoitQXLH
76FYuikgr9H/hV5eJJ34kf6h4ImO4F4XqJjfWeYd5PlIM9v3NX22thrGiNaFNJuV
8Kb99DQBAgMBAAECggEAO7Sq5UmaHuoM5lmn1g3PhGZVUBGbxJMew627GkUs9n2p
OSFPUNG2ayt2DJJk4fw9epuYiiDlWbpo/JZi9plj0tOVFTz6SS1IDDpHqOhONnRW
vCX3BhcKfLs0+n3f1+rqHsJs/sqtC+KvbfVfSkKSuCgQODkY7hv0GJEiSOBXLApW
IHGx/K3Tlnh/4XUoRr6n0rHKWcJs4I2zq7bEldP83c9nL8A2x28LtlI6N1JNkmT5
99/YtAWRhqUTyDbtoGktJUMonG44ScsCsWwFd9rcUZMpqtmKNFW98cIvwWF7pxHR
EbaO0027dhr4aEIcBwKXXaF0FxVkjxDs8MycYWIsUQKBgQD85z3jrS+706iVSkK+
ivkEynCmP99KXpBaI9Y0wCtALo/id6+kiTsggmc4Ol5bvu8+tbaqdFE4+G9vYweY
+w+rWp6SzbIkHgTOuDoyVpxnLaqPa166rHa0mhrp5li+2CbYFr6lamjsjE5m7dNn
jQlu1JaNozTfCUvKzGgFMRYT/QKBgQDY+Sh2WXwbto3JRBq8fuTSqD2AFXuejkua
tD0+vWsE91RL0aBvXGEXAo+VcKaUMOKrq854GwNWPC1VEBRUI+GuvA0ZHICqSNIG
6EdLTlf7IZmco0eJtc2Sp4MT9ArB4pyiCxJ4teeVF5rwmiYOgP5n/GC8maboNLgV
aIoA+mwlVQKBgQChGWB4LrMQb6Sc7MAVhotX/OjDTj6brh8//EIQOjWS3dY0Cc+t
/OjYLZk43R2MTdUy2ifw7sVqh/7cMnX9gjgaDFCk7TjD/wdK81nHBRr+Mr3KPDgM
q522L9BjHKN9dk1QKzToRB9wR3QN5wNanCHdIriAou0kAlTwa0L7w6fvtQKBgG/F
wutc48te+qGhHOjXscc3dh8icgFXKmlyyk4kxBnV064POkfD3hw9bHw+gQG8QTjQ
k9dZixmEfJHia6aAqYUbSOATx9BxHQkD5Z5MqJQtVfXUQ0kUx+bxtlu0D0qcE7aC
X6yhgMBUXbPupQY5u1UUNT1TJiFe7ynQJa+lUcrVAoGABOPqnxQXPcH7xVfh7mH8
aLnOzgNz/tolzJCo9tEJytxqToLct8lARuaeU0TU1DHxL5OpXFbwENlTw9e8xkch
8T7FBzeqQjNGBFiq2MGw14/SHumIWHvOoaZS0lh8CRYlIJ569z2dlkhCplyxYxZe
Shh84HkNucK16Kc4G9u150Y="/>
    <add key="Tenpay_NotifyUrl" value="https://api.ruimaitop.com/Payment/TenpayCallback"/>
  </appSettings>

  <connectionStrings>
    <!--测试-->
    <add name="HotelPlatform" connectionString="Data Source=120.79.132.254,1433;Initial Catalog=HotelPlatform;Persist Security Info=True;User ID=sa;Password=qwe..123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <throttlePolicy ipThrottling="false" clientThrottling="false" endpointThrottling="false">
    <rules>
      <!--Ip rules-->
      <!--<add policyType="1" entry="127.0.0.1" limitPerMinute="5"/>-->
      <!--Client rules-->
      <!--<add policyType="2" entry="vongzh" limitPerDay="86400" />-->
      <!--Endpoint rules-->
      <!--<add policyType="3" entry="/token" limitPerDay="86400" />-->
    </rules>
    <whitelists>
      <!--Ip whitelist-->
      <!--<add policyType="1" entry="127.0.0.1" />-->
      <!--Client whitelist-->
      <!--<add policyType="2" entry="vongzh" />-->
      <!--Endpoint whitelist-->
      <add policyType="3" entry="/token" />
    </whitelists>
  </throttlePolicy>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <httpRuntime maxRequestLength="2048" executionTimeout="200" enable="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2048000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Z.EntityFramework.Extensions" publicKeyToken="59b66d028979105b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.22.0" newVersion="5.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Z.Expressions.Eval" publicKeyToken="59b66d028979105b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.33.0" newVersion="4.0.33.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Caching" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Common" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<membase>
		<!-- 
			Please read the documentation first:
				http://github.com/enyim/EnyimMemcached/wiki/MembaseClient-configuration

			Use this section as a template if you're connecting to Membase Servers.
			Note: you must have the top-level membase section if you're using the parameterless constructor of MembaseClient.
		-->
		<servers bucket="enyim" bucketPassword="password" retryCount="2" retryTimeout="00:00:02">
			<!--
				Provide at least 2-3 urls from your cluster. 
				Usually you only need to change the host, except when connecting to older versions.
				Membase uses port 8091, while the NorthScale Memcached Server (1.0.3) uses 8080
			-->
			<add uri="http://192.168.2.202:8091/pools/default" />
			<add uri="http://192.168.2.200:8091/pools/default" />
		</servers>
		<!-- the client waits deadTmimeout time to reconnect to the pool when all the specified urls are down -->
		<socketPool connectionTimeout="00:00:10" deadTimeout="00:00:10" />
	</membase></configuration>